<form [formGroup]="form" filterParamStorage="FAQ-v1" #storage="paramStorage">
  <input
    type="text"
    formControlName="search"
    filterParamSync
    [storageSync]="storage"
  />
  <select
    formControlName="location"
    filterParamSync
    [defaultValue]="location$"
    [storageSync]="storage"
  >
    <option value="1">Volvo 1</option>
    <option value="2">Saab 2</option>
    <option value="3">Mercedes 3</option>
    <option value="4">Audi 4</option>
  </select>
</form>

<button routerLink="/signup">signup</button>
<button routerLink="/books">books</button>
