<h1 style="color: blue">Book Filter</h1>
<form [formGroup]="form">
  <input type="text" formControlName="search" />
  <select formControlName="booksName" multiple>
    <option [ngValue]="1">Volvo 1</option>
    <option [ngValue]="2">Saab 2</option>
    <option [ngValue]="3">Mercedes 3</option>
    <option [ngValue]="4">Audi 4</option>
  </select>
  <select formControlName="booksName2" multiple>
    <option [ngValue]="1">Volvo 1</option>
    <option [ngValue]="2">Saab 2</option>
    <option [ngValue]="3">Mercedes 3</option>
    <option [ngValue]="4">Audi 4</option>
  </select>
  <input
    type="datetime-local"
    id="birthdaytime"
    name="birthdaytime"
    formControlName="date"
  />
</form>
<button routerLink="/signup">signup</button>
<button routerLink="/student">Student</button>
