<h1>Student</h1>
<form [formGroup]="form">
  <input type="text" formControlName="search" />
  <select formControlName="booksName" multiple>
    <option [ngValue]="1">Volvo 1</option>
    <option [ngValue]="2">Saab 2</option>
    <option [ngValue]="3">Mercedes 3</option>
    <option [ngValue]="4">Audi 4</option>
  </select>
  <input
    type="datetime-local"
    id="birthdaytime"
    name="birthdaytime"
    formControlName="date"
  />
  <select formControlName="user" [compareWith]="compareFn">
    <option [ngValue]="user" *ngFor="let user of users">{{ user.name }}</option>
  </select>
</form>
<button routerLink="/books">signup</button>

<p>{{ form.value | json }}</p>
